nav ul li{

	display: inline-block;
	padding: 50px 10px 50px 100px;
	
}

nav{

	background-color: orange;
	margin: 0;
}

nav ul li a{

	text-decoration: none;
	color: white;
}



/*somehow this align orangejuice with the nav words*/
ul{

	display:inline-block;
	
}

.searchbar{

float: right;

}

.middle{

	display: inline-block;
}


footer{
	height: 70px;
	
	background-color: lightblue;
}




@media (max-width: 525px){

	.first{
		background-color: darkorange;
	}
}